.squad__info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    height:2rem;
    color:rgb(230, 213, 213);
    padding-left: 1rem;
  }
  
  .squad__top{
    font-size:0.75rem;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: oblique;
    width:100%;
  }
  
  .squad__bottom{
    font-size:0.75rem;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: oblique;
    width:100%;
    color:white;
  }
  
  @media (max-width: 375px) {
    .squad__top{
      font-size:0.5rem;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-style: oblique;
    }
    
    .squad__bottom{
      font-size:0.55rem;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-style: oblique;
    }
  }