/* TODO: Here need to be only the 'placement' and 'gamerTag' classes, include th component */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .teamTable {
    min-width: 19rem;
    max-width: 40rem;
    width: 100%;
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: 2px 2px 16px 1px #aaa;
    overflow-x: scroll;
  }
  
  table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
  }
  
  thead {
    font-size: 0.75rem;
    color: rgb(110, 110, 110);
    text-transform: uppercase;
  }
  
  tbody .gamerTag {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  tbody tr:nth-child(2n) {
    background-color: #1f232c;
  }
  
  .gamerTag {
    text-align: left;
  }
  
  .placement,
  .cellValue {
    text-align: right;
  }
  
  .placement {
    width: 4ch;
    padding-left: 1rem;
  }
  
  .cellValue {
    width: 8ch;
  }
  
  th {
    padding: 1.5rem 1rem 0.5rem;
  }
  
  td {
    padding: 1rem 1rem;
  }
  
  /* #1f232c */

  .table__header {
    /* background-color: #4a81ff; */
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
    height: 3rem;
    position: relative;
    width:100%;
    /* text-align: center; */
  }
  
  .table__h1 {
    font-size: 1.1rem;
    line-height: 1rem;
    position: absolute;
    /* background-color: #004cff; */
    width: 100%;
    height: 60%;
    text-align: center;
  }

  .table__h3{
    font-size: 1rem;
    display: inline-block; 
    text-align: left;
    margin-left:1rem;
    color : #BAC3CF;
  }

  @media (max-width: 525px) {
    .table__header {
        /* background-color: #4a81ff; */
        color: rgb(255, 255, 255);
        /* text-transform: uppercase; */
        height: 3rem;
        position: relative;
        width:100%;
      }
      
      .table__h1 {
        font-size: 1.1rem;
        line-height: 1rem;
        position: absolute;
        /* background-color: #004cff; */
        width: 100%;
        height: 60%;
      }
      .table__h3{
        font-size: 0.77rem;
        /* text-align: center; */
        margin-left: 0;
        color : #BAC3CF;
      }
  }
  
  