.test2 {
  /* Reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 7.5em;
  height: 1.5em;
  background: rgba(0, 24, 59, 0.795);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}
.test2 option {
  color: inherit;
  background-color: #320a28;
}
.test2:focus {
  outline: none;
}
.test2::-ms-expand {
  display: none;
}

.test {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
